@import url('/css/Alumni/index.css');

body{
  /* background-color: rgb(240, 240, 240); */
}

.header__img {
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

.image__fixed-height {
  height: auto;
  width: auto;
  /* max-height: 200px; */
}

/* .card--bg-light-gray{
  background-color: var(--dark-purple);
} */