body {
    font-family: 'Poppins';
}

#job{
    background-color: #EBEBEB;
    color: #797979;
}

.info{
    color: #7A7A7A;
}

.col-8 a{
    text-decoration: none;
    color: #7A7A7A;
}

.col-1{
    display: flex;
    justify-content: center;
}

.back {
    text-decoration: none;
    color:black;
} 

.fa-map-marked-alt{
    color: rgb(167, 0, 0);
  }
  
  .fa-sack-dollar{
    color: #28a745;
  }
